<li [ngClass]="{'list-group-item':true, 'list-group-item-success':post.loveIts>0 , 'list-group-item-danger':post.loveIts<0}">
  <div class="d-flex justify-content-between">
  <h4>title: {{post.title}}</h4>
  <small>{{post.created_at |date: 'short'}}</small>
  </div>
  <small class="d-flex text-justify">{{post.content}}</small>
  <button class="btn btn-success " (click)="onLove()"> <i class="fa fa-thumbs-o-up"></i></button>
  <button class="btn btn-danger" (click)="onDislike()"><i class="fa fa-thumbs-o-down"></i></button>

</li>
